.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.excel-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

.filters {
  margin-top: 20px;
}

.filters div {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="date"],
input[type="text"] {
  width: calc(100% - 130px); /* Reduzindo 130px para a largura do rótulo */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.consulta {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.consulta:hover {
  background-color: #0056b3;
}

.input-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.input-container label {
  margin-right: 10px;
  width: 120px; /* Largura do rótulo */
}

.input-container input[type="date"],
.input-container input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.date-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.date-input-container label {
  margin-right: 10px;
  width: 80px; /* Reduzindo a largura do rótulo */
}

.date-input-container input[type="date"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Espaçamento entre o campo de data e o rótulo */
  width: auto; /* Redefinir a largura automática */
  min-width: 150px; /* Largura mínima do campo de data */
}

.date-input {
  width: 150px; /* Defina o tamanho desejado */
}

.text-input {
  width: 150px; /* Defina o tamanho desejado */
}
